# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
instance/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
admin.db
data.db
*.log
*.bak
generated_keys.txt
keys.txt
output_new.txt

# Website uploads & backups
website/uploads/
website/backups/
website/instance/

# Compiled binaries and build folders
build/
build_main/
build_main_spec/
build_updater/
build_updater_spec/
dist/
*.spec
*.exe
updates/
test_data_temp/
