flask
requests
cryptography
pyopenssl
gunicorn
flask-sqlalchemy
flask-login
flask-migrate
psycopg2-binary
python-dotenv
email_validator
Pillow
PyQt6
openpyxl
beautifulsoup4
matplotlib
bcrypt
pyotp
qrcode
